[Oo]bj
[Bb]in
[Bb]uild
PublishProfiles
.DS_Store
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
packages
 
*~.nib
*.swp
.DS_Store
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcuserstate
xcuserdata

Todo.Apps/iOS/tUdUs.xcodeproj/xcuserdata/christian.xcuserdatad/xcschemes/xcschememanagement.plist
