[Oo]bj
[Bb]in
[Bb]uild
TestResults
PublishProfiles
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
packages

out
*~.nib
*.swp
.DS_Store
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcuserstate
xcuserdata