div {
    -webkit-transform: translateZ(0);
}

.km-root .km-ios .km-tabstrip .km-button
{
    min-width: 5em;
}

.km-phone .km-tabstrip .km-icon {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
}

#gallery .photo {
    width: 320px;
    margin: 0;
    height: 220px;
    display: inline-block;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

/*#galleryContainer {
    margin: 60px 0 1em 0;
    padding-bottom: 20px;
    padding-top: 20px;
    background: rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.3);
    border-width: 1px 0;
    box-shadow: 0 1px 1px rgba(255,255,255,.3);
}*/

#preLoad {
    width: 100%;
    height: 100%;
    background: #FFF;
    position: absolute;
    top: 0;
    z-index: 9999;
    -moz-transition: visibility 0s linear 1s, opacity 1s ease-in-out 0s;
    -webkit-transition: visibility 0s linear 1s, opacity 1s ease-in-out 0s;
    -o-transition: visibility 0s linear 1s, opacity 1s ease-in-out 0s;
    transition: visibility 0s linear 1s, opacity 1s ease-in-out 0s;
}

    #preLoad div {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 60px;
        margin-top: -30px;
        margin-left: -24px;
    }

/*
.km-android .km-view .km-content {
    background-color: rgb(229, 229, 229);
    color: rgb(51, 51, 51);
}

    .km-android .km-view .km-content .km-listgroupinset .km-group-title .km-text {
        color: rgb(51, 51, 51);
    }

.km-android .km-view .km-tabstrip .km-button {
    background-color: rgb(204, 204, 204);
}

.km-android .km-view .km-navbar {
    background-color: rgb(204, 204, 204);
}

    .km-android .km-view .km-navbar .km-button .km-text {
        color: rgb(51, 51, 51);
    }

.km-android .km-listview .km-list {
    border-top-color: rgb(153, 153, 153);
}

.km-android .km-view .km-content .km-list > li {
    border-color: rgb(153, 153, 153);
}

.km-android .km-view .km-content .km-listgroup .km-group-title .km-text {
    color: #333;
}

.km-android .km-view .km-content .km-list > li .km-switch .km-switch-container {
    background-color: #b2b2b2;
}
*/

#map .km-content,
#map .km-scroll-container,
#map #mapCanvas {
    display: -webkit-box;
    width: 100%;
}

#commonErrorButton {
    display: block;
    text-align: center;
    margin: .6em .8em 0;
    font-size: 1.2em;
}

#errorText {
    display: block;
    text-align: center;
    margin: .6em .8em 0;
    font-size: 1.0em;
}

.km-ios #errorDialog #commonErrorButton {
    background-color: darkred;
}

.km-ios .km-detail {
    line-height: 1.3rem;
    margin-top: -.8rem;
    width: 1.4rem;
    height: 1.4rem;
}

.km-android .km-navbar .km-view-title {
    visibility: visible;
}

#startPage {
    text-align: center;
}

    #startPage img {
        display: block;
        margin: 20px auto;
    }

#loginButton {
    display: block;
    text-align: center;
    margin: .6em .8em 0;
    font-size: 1.2em;
}

#openLoginButton {
    display: block;
    text-align: center;
    margin: 0 7em;
    padding: .5em;
}

#saveTodoButton {
    background-color: Green;
    display: block;
    text-align: center;
    margin: .6em .8em 0;
    font-size: 1.2em;
}

#addTodoButton {
    background-color: Green;
    display: block;
    text-align: center;
    margin: .6em .8em 0;
    font-size: 1.2em;
}
