<!DOCTYPE html>
<html>
<head>
	<title>tUdUs</title>
</head>
<body>
    <!-- Gallery page -->
    <div id="galleryPage" data-role="view" data-title="tUdUs" data-init="todosApp.Views.galleryInit" data-before-show="todosApp.Views.beforePageShow" data-layout="defaultLayout">
        <header data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
            </div>
        </header>
        
        <div id="galleryContainer">
            <br>
            <div id="gallery" data-role="scrollview">
                Loading photos...
            </div>
        </div>

    </div>
</body>
</html>
