@using Todo.WebApp.Areas.HelpPage
@model Todo.WebApp.Areas.HelpPage.SampleGeneration.InvalidSample

@if (HttpContext.Current.IsDebuggingEnabled)
{
    <pre class="wrapped ui-state-error">@Model.ErrorMessage</pre>
}
else
{
    <p>Sample not available.</p>
}
